# Intro

This notebook is largely based on these [instructions](https://sqlmesh.readthedocs.io/en/stable/quickstart/notebook/) where you can find installation instructions.

In [ ]:
import sqlmesh

In [2]:
%init . duckdb

In [2]:
%context .

SQLMesh project context set to: .

In [4]:
%%fetchdf

SHOW ALL TABLES;

Empty DataFrame
Columns: [database, schema, name, column_names, column_types, temporary]
Index: []

In [15]:
import duckdb

con = duckdb.connect("db.db")

con.sql("SHOW ALL TABLES;")

┌──────────┬──────────────────────┬──────────────────────┬──────────────────────┬──────────────────────────┬───────────┐
│ database │        schema        │         name         │     column_names     │       column_types       │ temporary │
│ varchar  │       varchar        │       varchar        │      varchar[]       │        varchar[]         │  boolean  │
├──────────┼──────────────────────┼──────────────────────┼──────────────────────┼──────────────────────────┼───────────┤
│ db       │ sqlmesh              │ _environments        │ [name, snapshots, …  │ [VARCHAR, VARCHAR, VAR…  │ false     │
│ db       │ sqlmesh              │ _intervals           │ [id, created_ts, n…  │ [VARCHAR, BIGINT, VARC…  │ false     │
│ db       │ sqlmesh              │ _plan_dags           │ [request_id, dag_i…  │ [VARCHAR, VARCHAR, VAR…  │ false     │
│ db       │ sqlmesh              │ _seeds               │ [name, version, co…  │ [VARCHAR, VARCHAR, VAR…  │ false     │
│ db       │ sqlmesh              │ _snapshots           │ [name, identifier,…  │ [VARCHAR, VARCHAR, VAR…  │ false     │
│ db       │ sqlmesh              │ _versions            │ [schema_version, s…  │ [INTEGER, VARCHAR, VAR…  │ false     │
│ db       │ sqlmesh__sqlmesh_e…  │ sqlmesh_example__f…  │ [item_id, num_orde…  │ [INTEGER, BIGINT]        │ false     │
│ db       │ sqlmesh__sqlmesh_e…  │ sqlmesh_example__f…  │ [item_id, num_orde…  │ [INTEGER, BIGINT]        │ false     │
│ db       │ sqlmesh__sqlmesh_e…  │ sqlmesh_example__i…  │ [id, item_id, even…  │ [INTEGER, INTEGER, DATE] │ false     │
│ db       │ sqlmesh__sqlmesh_e…  │ sqlmesh_example__i…  │ [id, item_id, even…  │ [INTEGER, INTEGER, DATE] │ false     │
│ db       │ sqlmesh__sqlmesh_e…  │ sqlmesh_example__s…  │ [id, item_id, even…  │ [INTEGER, INTEGER, DATE] │ false     │
│ db       │ sqlmesh__sqlmesh_e…  │ sqlmesh_example__s…  │ [id, item_id, even…  │ [INTEGER, INTEGER, DATE] │ false     │
│ db       │ sqlmesh_example      │ full_model           │ [item_id, num_orde…  │ [INTEGER, BIGINT]        │ false     │
│ db       │ sqlmesh_example      │ incremental_model    │ [id, item_id, even…  │ [INTEGER, INTEGER, DATE] │ false     │
│ db       │ sqlmesh_example      │ seed_model           │ [id, item_id, even…  │ [INTEGER, INTEGER, DATE] │ false     │
├──────────┴──────────────────────┴──────────────────────┴──────────────────────┴──────────────────────────┴───────────┤
│ 15 rows                                                                                                    6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [10]:
%dag --file dag.html

In [6]:
%plan

HTML(value='<span style="font-size: 11px; font-weight: bold; font-family: Menlo,\'DejaVu Sans Mono\',consolas,…

New environment `prod` will be created from `prod`

Summary of differences against `prod`:

Models:
└── Added:
    ├── sqlmesh_example.full_model
    ├── sqlmesh_example.seed_model
    └── sqlmesh_example.incremental_model

VBox()

In [7]:
%%fetchdf

select * from sqlmesh_example.incremental_model

   id  item_id event_date
0   1        2 2020-01-01
1   2        1 2020-01-01
2   3        3 2020-01-03
3   4        1 2020-01-04
4   5        1 2020-01-05
5   6        1 2020-01-06
6   7        1 2020-01-07

In [8]:
%%fetchdf

SHOW ALL TABLES;

,database,schema,name,column_names,column_types,temporary
0,db,sqlmesh,_environments,"[name, snapshots, start_at, end_at, plan_id, p...","[VARCHAR, VARCHAR, VARCHAR, VARCHAR, VARCHAR, ...",False
1,db,sqlmesh,_intervals,"[id, created_ts, name, identifier, version, st...","[VARCHAR, BIGINT, VARCHAR, VARCHAR, VARCHAR, B...",False
2,db,sqlmesh,_plan_dags,"[request_id, dag_id, dag_spec]","[VARCHAR, VARCHAR, VARCHAR]",False
3,db,sqlmesh,_seeds,"[name, version, content]","[VARCHAR, VARCHAR, VARCHAR]",False
4,db,sqlmesh,_snapshots,"[name, identifier, version, snapshot, kind_nam...","[VARCHAR, VARCHAR, VARCHAR, VARCHAR, VARCHAR, ...",False
5,db,sqlmesh,_versions,"[schema_version, sqlglot_version, sqlmesh_vers...","[INTEGER, VARCHAR, VARCHAR]",False
6,db,sqlmesh__sqlmesh_example,sqlmesh_example__full_model__3031530868,"[item_id, num_orders]","[INTEGER, BIGINT]",False
7,db,sqlmesh__sqlmesh_example,sqlmesh_example__full_model__3031530868__temp,"[item_id, num_orders]","[INTEGER, BIGINT]",False
8,db,sqlmesh__sqlmesh_example,sqlmesh_example__incremental_model__141311533,"[id, item_id, event_date]","[INTEGER, INTEGER, DATE]",False
9,db,sqlmesh__sqlmesh_example,sqlmesh_example__incremental_model__141311533_...,"[id, item_id, event_date]","[INTEGER, INTEGER, DATE]",False
10,db,sqlmesh__sqlmesh_example,sqlmesh_example__seed_model__1248844913,"[id, item_id, event_date]","[INTEGER, INTEGER, DATE]",False
11,db,sqlmesh__sqlmesh_example,sqlmesh_example__seed_model__1248844913__temp,"[id, item_id, event_date]","[INTEGER, INTEGER, DATE]",False
12,db,sqlmesh_example,full_model,"[item_id, num_orders]","[INTEGER, BIGINT]",False
13,db,sqlmesh_example,incremental_model,"[id, item_id, event_date]","[INTEGER, INTEGER, DATE]",False
14,db,sqlmesh_example,seed_model,"[id, item_id, event_date]","[INTEGER, INTEGER, DATE]",False

In [9]:
%%fetchdf

select * from sqlmesh."_environments";

,name,snapshots,start_at,end_at,plan_id,previous_plan_id,expiration_ts,finalized_ts,promoted_snapshot_ids,suffix_target,catalog_name_override,previous_finalized_snapshots
0,prod,"[{""name"": ""\""db\"".\""sqlmesh_example\"".\""seed_m...",2020-01-01 00:00:00,None,4c91ecc1c07a4a609b63134f76780cbd,None,NaN,1714649498516,None,schema,None,[]

# Update seed data

In [ ]:
%plan

In [ ]:
%%fetchdf

select * from sqlmesh_example.incremental_model

# Add Python Models

Copy the two python models into the model folder and refresh the notebook.

In [9]:
%dag --file new_dag.html

In [11]:
%plan

HTML(value='<span style="font-size: 11px; font-weight: bold; font-family: Menlo,\'DejaVu Sans Mono\',consolas,…

Summary of differences against `prod`:

Models:
└── Added:
    ├── sqlmesh_example.from_sql
    └── sqlmesh_example.from_python

VBox()

In [ ]:
%%fetchdf

select * from sqlmesh_example.from_sql

In [ ]:
%%fetchdf

select * from sqlmesh_example.from_python